<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi Me</title>
    <link rel="stylesheet" href="../public/assets/css/Foundation-6.6.1-CSS-project/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- <link rel="stylesheet" href="assets/css/sushiME.css"> --}}
    {{!-- <link rel="stylesheet" href="assets/css/style.css"> --}}
    {{!-- <link rel="stylesheet" href="assets/css/landingPage.css"> --}}
    {{!-- <link rel="stylesheet" href="assets/css/map.css"> --}}

</head>

<body>
    {{{body}}}

    <script src = 'assets/js/sushi.js'></script>
    <script src='assets/js/app.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='/assets/js/script.js'></script>
    <script src='assets/js/mapJS.js'></script>

</body>

</html>