body {
    background-image: url("../images/person.png"); 
    background-repeat: no-repeat; 
    background-position:center center;
    min-height: calc(100vh - 30px)
}

a {
    text-decoration: none;
    font-weight: bold;
    color:white; 
    font-size:150px;
}
div{
    width: 100px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

span {
    color: red;
}
