body {
    background-image: url("../images/asia-japan-japanese-japanese-culture-590478.png"); 
    background-repeat: no-repeat; 
    background-position:center center;
    min-height: calc(100vh - 30px)
}

.centerText {
    text-align: center;
}

#mapHeader{
    margin: 1rem;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 500px;
    width: 500px;
}