.centerText {
    text-align: center;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
}


body
{
  padding: 10px;
  background-color: #fcfcfc;  
}
.center-div
{
  margin: 0 auto;
  max-width: 500px;
  height: 700px;
  background-color: #ccc;
  border-radius: 3px;
}
/* html, body{
    height: 100%;
    margin: 0;
    padding: 0;
} */

#map {
    height: 500px;
    width: 500px;
}