.center-div
{
  margin: 0 auto;
  max-width: 1100px;
  height: 500px;
  background-color: black;
  border-radius: 3px;
}

#sushiPlate
{
  margin-left: 30px;
  padding-top: 50px;
}

#chopsticksIMG 
{
  height: 350px;
  width: auto; 
  background-color: transparent;
  position:fixed;
} 

    
