h1{
    color: #D4AF37;
    font-family: Palatino, URW Palladio L, serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size:80px
}
body {
    margin: 100px;
    margin-top: 0px;
    background-color: black;
}
  
.wrapper { 
    display: grid; 
    grid-template-columns: 6fr 7fr; 
    grid-template-rows: 1fr;
}

.img-container {
    z-index: 10;
}
  
.card-container {
    z-index: 20;
}
  
.align-middle {
    align-self: center;
}
  
.card {
    margin-bottom: 0;
    font-size: 12px;
    background-color: black;
}
  
h4 {
    font-size: 22px;
}
  
@media print, screen and (min-width: 815px) {
    .medium-push-1 {
      position: relative;
      left: 8.33333%; 
      transform: rotate(90deg);
    }
    
    .medium-pull-1 {
      position: relative;
      left: -8.33333%; 
    }
}

.card-section{
    background-color: #2A2A23 ;
    padding:10px;
    width: 650px;
    height: 300px;
    padding: 10px;
}

