h1{
    color: #D4AF37;
    font-family: Palatino, URW Palladio L, serif;
    font-variant: small-caps;
    font-weight: 600;
    font-size:80px
}
body {
    margin: 100px;
    margin-top: 0px;
    background-color: black;
}
  
.wrapper { 
    display: grid; 
    grid-template-columns: 6fr 7fr; 
    grid-template-rows: 1fr;
}

.img-container {
    z-index: 10;
}
  
.card-container {
    z-index: 20;
}
  
.align-middle {
    align-self: center;
}
  
.card {
    margin-bottom: 0;
    font-size: 12px;
    background-color: black;
}
  
h4 {
    font-size: 22px;
}
  
@media print, screen and (min-width: 815px) {
    .medium-push-1 {
      position: relative;
      left: 8.33333%; 
      transform: rotate(90deg);
    }
    
    .medium-pull-1 {
      position: relative;
      left: -8.33333%; 
    }
}

.card-section{
    background-color: #2A2A23 ;
    padding:10px;
    width: 650px;
    height: 300px;
    padding: 10px;
}

.alert{
    margin-top: 10px;
}

/* sushi Roll in function */
.sushiRollIn {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: -webkit-radial-gradient(25px 25px, black, #000);
   
    /* Animation to spin and move the sphere */
    -webkit-animation: spin 1000ms linear infinite, moveLeftToRight 8s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveLeftToRight 8s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveLeftToRight 8s linear infinite;
    animation: spin 1000ms linear infinite, moveLeftToRight 8s linear infinite;
    
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    
    position: absolute;
    left: 0;
  }
  
  /* Spinning the sphere using key frames */
  /* @-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  
  /* Move sphere from left to right */
  /* @-moz-keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100%; }
  }
  @-ms-keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100%; }
  }
  @keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100%; }
  }
  @-webkit-keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100%; }
  } */ 